#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3vh;
}


#login {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 50vh;
    width: 50ch;
    border: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    ;
}

#login img {
    background-color: white;
}

#login p {
    margin: 1.5rem;
    text-align: center;
    color: rgb(156, 153, 153);
    background-color: white;
}

#login hr {
    overflow: hidden;
    width: 90%;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
    margin-bottom: 1.3rem;
    padding: 0;
}

#login img {
    width: 200px;
}

#user {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    background-color: white;
}

#user-pic {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 28%;
    gap: 1em;
    background-color: white;

}

#nick {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#claire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#user-pic p {
    margin: 0;
    border: 0;
}

#user-pic img {
    width: 50px;
    border-radius: 1.5rem;
}

#user-login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5em;
    background-color: white;
}

#user-login button {
    color: white;
    font-weight: 900;
    font-size: 14px;
    background-color: #4f96fa;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

/* other controls */
#other {
    cursor: pointer;
    border: 1px lightgray solid;
    border-radius: 5px;
    background-color: white;
    width: 50ch;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

#other a,
span {
    background-color: white;
    font-weight: bolder;
}

#other a {
    color: cornflowerblue;
    text-decoration: none;

}

/* get the app */
#get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#app-button {
    display: flex;
    flex-direction: row;
    gap: 1vh;

}

#app-button button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#app-button img {
    width: 180px;
    margin: 0;
    border: 0;
}

#spacer {
    display: flex;
    flex: 1;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 3vh;
}

#footer button {
    border: 0;
    margin: 0 1rem;
    cursor: pointer;
}